.container {
  /* padding: 0 2rem; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
  gap: 5rem;
}
.grid {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 13rem;
  width: 450px;
}
.row {
  display: flex;
  width: 100%;
  gap: 0.3rem;
  justify-content: center;
}
.letter {
  padding: 0%;
  margin: 0%;
  height: 60px;
  min-width: 40px;
  display: grid;
  place-items: center;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: small;
}
.double {
  width: 100px;
  background-color: lightgray;
}
.lightgray {
  background-color: lightgray;
}
.grey {
  background-color: rgb(122, 121, 121);
  color: white;
}

.green {
  background-color: rgb(68, 141, 68);
  color: white;
}

.amber {
  background-color: rgb(231, 189, 99);
  color: white;
}
